/* Planets component specific styles */

.planets {
  width: 60%;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
  /* overflow-y: scroll; */
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.planets-list {
  min-height: 80vh;
  background: #fff;
}
